.page-article {
	background-color: #efefef;
	width: 100vw;
	min-height: 100vh;
}
.artilce-list {
	width: 100%;
	padding: 20rpx;
	box-sizing: border-box;
	.artilce-item {
		background-color: #FFFFFF;
		border-radius: 10rpx;
		display: flex;
		flex-direction: column;
		width: 100%;
		margin-bottom: 20rpx;
		padding: 20rpx;
		box-sizing: border-box;
		.title {
			font-size: 34rpx;
			color: #000000;
			margin-bottom: 10rpx;
		}
		.desc {
			font-size: 24rpx;
			color: #898989;
			margin-bottom: 10rpx;
		}
		.pic {
			image {
				width: 100%;
			}
			margin-bottom: 10rpx;
		}
		.author {
			text-align: right;
			color: #898989;
			font-size: 24rpx;
		}
		
	}
}