.view_page {
	padding: 20rpx;
	background: linear-gradient(to bottom, #00688B, #008B8B);
	min-height: 100vh;
	video {
		width: 100%;
	}
	.btn-area {
		margin-top: 20rpx;
	}
	.wifitip {
		color: #fff;
	}
	#myVideo {
		position: relative;
	}

	.decorate {
		position: absolute;
		top: 0;
		left:0;
		right: 0;
		bottom: 0;
		background: #000;
		.controls {
			position: relative;
			top: 50%;
			height: 50px;
			margin-top: -25px;
			display: flex;
		}
		.play,.pause,.size {
			flex: 1;
			height: 100%;
		}
		.size {
			text-align: center;
			background-color: rgba(0, 0, 0, .5);
			color: white;
			line-height: 50px;
		}
		.img {
			width: 40px;
			height: 40px;
			margin: 5px auto;
		}
	}
	.playing {
		background: transparent;
	}

	
}