.home-card {
	width: 100%;
	min-height: 260rpx;
	//height: 800rpx;
	border-radius: 30rpx;
	background-color: #ffffff;
	margin-bottom: 60rpx;
	box-shadow: 0px 10px 12px #888888;
	padding: 20rpx;
	box-sizing: border-box;
	.title {
		width: 100%;
		display: block;
		text-align: center;
		color: #FDA03B;
		font-size: 40rpx;
		font-weight: bold;
		font-family: PingFangSC-Regular,PingFang SC;
	}
}

.default {
	background-color: #555555;
	.avatar {
		width: 100rpx;
		height: 100rpx;
		border-radius: 100rpx;
		margin: auto;
		overflow: hidden;
		border: 6rpx solid #1d3613;
		margin-top: 10rpx;
	}
	.brief {
		display: block;
		color: #FFFFFF;
		text-align: center;
		margin-top: 30rpx;
	}
}
.activity {
	background-color: #2C405A;
	color: #fea21d;
	box-sizing: border-box;
	.desc {
		display: block;
		text-align: center;
		margin-top: 20rpx;
		margin-bottom: 30rpx;
	}
	.bg {
		width: 100%;
	}
}