.component-navbar {
	position: fixed;
	top: 60rpx;
	left: 0rpx;
	padding: 0rpx 20rpx;
	.back {
		background-image: url("https://7661-vampire-2d0c42-1302906344.tcb.qcloud.la/images/icon/back.svg");
		width: 40rpx;
		height: 40rpx;
		background-size: contain;
	}
}